<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javasummit</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">JavaSummit</div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="gunung.html">Gunung</a></li>
                    <li><a href="#about">About Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content">
            <h1>Explore the Beauty of Java</h1>
            <h2>Discover the most amazing mountains in Java with us</h2>
        </div>
        <div class="header-cards">
            <div class="card">
                <img src="../assets/gunung/Gunung Merbabu.jpg" alt="Gunung 1">
                <div class="card-description">
                    <h3>Gunung Merbabu</h3>
                    <p>Gunung yang berada dijawa tengah</p>
                </div>
            </div>
            <div class="card">
                <img src="../assets/gunung/bromo mountain.jpeg" alt="Gunung 2">
                <div class="card-description">
                    <h3>Gunung Bromo</h3>
                    <p>Gunung yang berada dijawa timur</p>
                </div>
            </div>
            <div class="card">
                <img src="../assets/gunung/Gunung Prau.jpg" alt="Gunung 3">
                <div class="card-description">
                    <h3>Gunung Prau</h3>
                    <p>Gunung yang berada di jawa tengah</p>
                </div>
            </div>
            <div class="view-more">
                <a id="view-more-btn" href="gunung.html" class="view-more-link">Lihat Selengkapnya</a>
            </div>
        </div>
    </header>
    <main>
        <section id="about">
            <div class="about-container">
                <div class="about-text">
                    <h2>About Us</h2>
                    <p>JavaSummit menyediakan informasi lengkap tentang gunung  gunung di Pulau Jawa, termasuk deskripsi, rekomendasi basecamp, syarat-syarat pendakian, dan cuaca terkini di area gunung dan basecamp.</p>
                </div>
                <div class="about-image">
                    <img src="../assets/gunung/Gunung Arjuno, Jawa Timur.jpg" alt="About Us Image">
                </div>
            </div>
        </section>
        <section class="articles-section">
            <h2>New Article</h2>
            <div class="articles-container">
                <article class="article-card">
                    <img src="../assets/artikel/tips.jpg" alt="Article Image 1" class="article-image">
                    <div class="article-content">
                        <h4>Tips Mendaki Gunung Untuk Pemula</h4>
                        <p>Bagi para pemula yang baru mencoba perjalanan di dunia mendaki gunung, setiap langkah merupakan sebuah petualangan penuh tantangan dan kegembiraan. Awalnya mungkin terasa sulit, namun dengan sejumlah tips mendaki gunung bagi pemula berikut dapat membuat perjalanan lebih lancar dan seru.</p>
                        <a href="https://eraspace.com/artikel/post/7-tips-mendaki-gunung-bagi-pemula-yang-baru-mencoba" class="read-more" target="_blank">Baca Selengkapnya</a>
                    </div>
                </article>
                <article class="article-card">
                    <img src="../assets/artikel/tertinggi.jpeg" alt="Article Image 1" class="article-image">
                    <div class="article-content">
                        <h4>Gunung Tertinggi Di pulau Jawa</h4>
                        <p>Mungkin ada diantara traveler yang hobi mendaki gunung? Jika ya, mungkin traveler sudah tahu gunung mana yang tertinggi di pulau jawa.</p>
                        <a href="https://travel.detik.com/domestic-destination/d-5822790/sudah-tahu-apa-gunung-tertinggi-di-pulau-jawa" class="read-more" target="_blank">Baca Selengkapnya</a>
                    </div>
                </article>
                <article class="article-card">
                    <img src="../assets/artikel/favorite.jpg" alt="Article Image 1" class="article-image">
                    <div class="article-content">
                        <h4>9 Gunung Tertinggi di Pulau Jawa Favorit Para Pendaki.</h4>
                        <p>Pulau Jawa memiliki beberapa gunung tinggi. Pendaki akan dimanjakan dengan pemandangan indah. Penasaran apa saja gunung tertinggi di Pulau Jawa?</p>
                        <a href="https://travel.detik.com/domestic-destination/d-4796620/9-gunung-tertinggi-di-pulau-jawa-favorit-para-pendaki" class="read-more" target="_blank">Baca Selengkapnya</a>
                    </div>
                </article>
            </div>
        </section>
        <section class="team-section">
            <h1>Our Team</h1>
            <p class="subtitle">Tim support pembuatan website JavaSummit</p>
            <div class="team-container">
                <div class="team-member" data-name="Ajeng Soumiatun N" data-role="Frontend & Backend Developer" data-description="Universitas Muhammadiyah Purwokerto">
                    <img src="../assets/tim/ajeng.jpg" alt="Ajeng Soumiatun N" class="member-photo">
                    <h2>Ajeng Soumiatun N</h2>
                    <p class="role">Frontend & Backend Developer</p>
                    <p class="description">Universitas Muhammadiyah Purwokerto</p>
                </div>
                <div class="team-member" data-name="Rafli Bayu Satrio" data-role="Leader & Backend Developer" data-description="Universitas AMIKOM Purwokerto">
                    <img src="../assets/tim/rafli.jpg" alt="Rafli Bayu Satrio" class="member-photo">
                    <h2>Rafli Bayu Satrio</h2>
                    <p class="role">Leader & Backend Developer</p>
                    <p class="description">Universitas AMIKOM Purwokerto</p>
                </div>
                <div class="team-member" data-name="Nova Sukmawati" data-role="Designer & Frontend Developer" data-description="Institut Pertanian Bogor">
                    <img src="../assets/tim/nova.jpeg" alt="Nova Sukmawati" class="member-photo">
                    <h2>Nova Sukmawati</h2>
                    <p class="role">Designer & Frontend Developer</p>
                    <p class="description">Institut Pertanian Bogor</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-left">
            <h4>JavaSummit</h4>
        </div>
        <div class="footer-center">
            <h4>Social Media</h4>
            <p><a href="#">Instagram</a></p>
            <p><a href="#">Twitter</a></p>
            <p><a href="#">Youtube</a></p>
        </div>
        <div class="footer-right">
            <h4>Contact Person</h4>
            <p>Rafli</p>
            <p>Ajeng</p>
            <p>Nova Sukmawati</p>
        </div>
    </footer>
    <script src="../scripts/script.js"></script>
</body>
</html>
